body {
    background-color: whitesmoke;
}
#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 250, 238);
}
header {
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 141, 2);
    color: beige;
}
#body {
    background-color: beige;
    font-size: 20px;
    padding: 10px;
}
#profile {
    float: left;
    width: 30%;
}
#profile h3 {
    text-align: center;
    padding: 0px;
    background-color: rgb(251, 179, 79);
    color: beige;
    width: 250px;
}
#profile img {
    margin-left: 25px;
    border: 3px solid rgb(251, 179, 79);
}
#bio {
    padding: 10px;
    float: right;
    width: 65%;
}
footer {
    clear: both;
    background-color: rgb(255, 141, 2);
    color: beige;
    text-align: right;
}
p{
    text-indent: 30px;

}
ul{
    list-style-type: none;
    padding: 5px;
}
#bio h1 {
    text-align: center;
}